body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, sans-serif;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50%;
    margin: 30px 0;
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: -1;
    transform: translateY(-50%);
}



.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.circle.active {
    background-color: #000000;
}
.circle.completed {
    background-color: green;
}

.circle.completed::after {
    content: '✔';
    font-size: 18px;
    color: white;
    background-color: green;
}

.buttons {
    margin-top: 20px;
}

#next {
    background-color: #3de25e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
#prev {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
